<h1>This is home page</h1>

<%= link_to 'About', about_path %>

<table border="1">
  <tr>
      <td colspan="2>"><img src="http://cdn.shopify.com/s/files/1/0985/5922/t/6/assets/slide7.jpg?4222726712851574347"></td>
  </tr>
  <tr>
      <td><h3>This is Left Column</h3></td>
      <td><h3>This is Right Column</h3></td>
  </tr>
  
  
</table>